.venv/

tbox_validation/converted/
tbox_validation/core/
tbox_validation/phases/
tbox_validation/requirements.txt
tbox_validation/workflow_report/.obsidian

# Ignore everything under ontologies
tbox_validation/ontologies/*
# Except these two files
!tbox_validation/ontologies/golem.ttl
!tbox_validation/ontologies/golem_fixed.ttl
!tbox_validation/ontologies/golem_exp.ttl

