.venv/

tbox_validation/converted/
tbox_validation/core/
tbox_validation/phases/
tbox_validation/requirements.txt

# Ignore everything under ontologies
tbox_validation/ontologies/*
# Except these two files
!tbox_validation/ontologies/golem.ttl
!tbox_validation/ontologies/golem_fixed.ttl

